<h1>Lists#index</h1>
<p>Find me in app/views/lists/index.html.erb</p>
<ul>
  <% @lists.each do |list| %>
  <li>
    <% numba = list.id %>
    <%= link_to "#{list.name}", "lists/#{numba}"  %>
  </li>
  <% end %>
</ul>
<button type="button" class="btn">
  <%= link_to "Make a new list", "lists/new" %>
</button>
