<h1>Create a new list</h1>
<%= simple_form_for @newList do |f| %>
  <%= f.input :name, label: 'name the list' %>
  <%= f.button :submit %>
  <%= link_to 'Back', { controller: 'lists', action: 'index'} %>
<% end %>
